## FiveM
ensure mapmanager
ensure erp-chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure nui_blocker
ensure baseevents
ensure screenshot-basic

## Database

ensure oxmysql

## Core

ensure [Main]
ensure [Assets]
ensure [Maps]