@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: a_RubricaXtCn;
    src: url(https://cdn.discordapp.com/attachments/588376933717245972/1026192315620016288/RUB_EC.ttf);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

#root {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/unknown\ 2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}

.char-reg {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0%;
    margin-left: 6%;
    display: none;
    font-family: 'Bebas Neue', cursive;
}

.char-menu {
    display: none;
    font-family: a_RubricaXtCn;
    position: absolute;
    width: 27%;
    left: 0%;
    height: 100%;
    position: absolute;
    background: radial-gradient(79.81% 100% at 50% 100%, rgba(183, 212, 236, 0.35) 0%, rgba(183, 212, 236, 0) 100%), linear-gradient(0deg, #181C26, #181C26), #181C26;
    box-shadow: 0px 12px 100px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    padding-right: 1vw;
    overflow: hidden;
}

.disabled {
    display: none;
}

.char-reg-header {
    margin-top: 8vh;
}

.char-reg-header div:nth-child(1) div:nth-child(1) {
    font-weight: 400;
    letter-spacing: 0.09em;
    font-size: 54.7113px;
    color: hsla(347, 100%, 55%, 1);
}

.char-reg-header div:nth-child(1) div:nth-child(2) {
    font-weight: 400;
    font-size: 54.7113px;
    color: #FFFFFF;
    margin-top: -3.5vh;
}

.char-reg-border {
    width: 6.5vw;
    height: .25vh;
    background: #FFFFFF;
    margin-top: -1.5vh;
    margin-left: -1.5vw;
}

.char-reg-header div:nth-child(3) {
    font-weight: 400;
    font-size: 22.4025px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0vh;
}

.char-reg-inputs {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 5vh;
}

.char-text-input {
    display: flex;
    flex-direction: row;
    width: 17.5vw;
    height: 7vh;
    background: #13151D;
    background-image: url(/assets/Background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 1vh;
    padding-top: .5vh;
    justify-content: space-between;
    align-items: center;
}

.char-dob-input {
    display: flex;
    flex-direction: row;
    width: 17.5vw;
    height: 7vh;
    background: #13151D;
    background-image: url(/assets/Background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 1vh;
    padding-top: .5vh;
    justify-content: space-between;
    align-items: center;
}

.chat-text-input div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.char-text-input div:nth-child(1) input {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 1vw;
    width: 10vw;
}

.char-text-input div:nth-child(1) div:nth-child(1) {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 13px;
    margin-left: 1vw;
    margin-top: .5vh;
}

.char-text-input:nth-child(3) {
    margin-top: 6vh;
}

.char-text-height {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    margin-left: 1vw;
    width: 10vw;
}

.char-text-input div:nth-child(2) {
    margin-right: 1vw;
}

.chat-dob-input div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.char-dob-input div:nth-child(1) input {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 1vw;
    width: 10vw;
}

.char-dob-input div:nth-child(1) div:nth-child(1) {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 13px;
    margin-left: 1vw;
    margin-top: .5vh;
}

.char-dob-input:nth-child(3) {
    margin-top: 6vh;
}

.char-gender-inputs {
    margin-top: 6vh;
    width: 17.5vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.char-gender-input {
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    width: 48%;
    background: #13151D;
    background-image: url(/assets/gender.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #616161;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.char-gender-inputs .active {
    color: #F0F0F0;
    background-image: url(/assets/gender-active.png);
}

.create-char-btn {
    cursor: pointer;
    margin-top: 6vh;
    background: linear-gradient(99.17deg, #FF194C 12.28%, #FF2858 56.95%);
    text-align: center;
    color: #FFFFFF;
    padding: 2vh 0 2vh 0;
    font-size: 20px;
    width: 17.5vw;
}

#range {
    width: 8vw;
    margin-left: -8vw;
}

.char-gender-height img {
    margin-right: 1vw;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 8vw;
    height: 5px;
    background: #1A1F2A;
    border-radius: 5px;
    background-image: linear-gradient(#FF194C, #FF194C);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 15px;
    width: 5px;
    background: #FF194C;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 5px;
    background: #FF194C;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 5px;
    background: #FF194C;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.char-reg-input-div, .char-reg-check {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
}

.char-reg-check div:nth-child(2) {
    margin-left: .5vw;
    width: 5vw;
}

.char-reg-check {
    margin-left: .5vw;
}

.char-reg-check-icon {
    background: #13151D;
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding: 1vh .5vw 0 .5vw;
}

.char-menu-header {
    margin-left: 5%;
    font-style: normal;
    font-weight: 400;
    margin-top: 5%;
}

.char-men-header-small {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.char-menu-header-big {
    color: #FFFFFF;
    font-size: 8vh;
    width: 50%;
}

.char-menu-header-big div:nth-child(2) {
    font-size: 8vh;
    margin-top: -2vh;
}

.char-list {
    width: 98%;
    height: 50%;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    background: transparent;
    padding: 1vh 1vw 1vh .5vw;
}

.character {
    width: 40%;
    margin: auto;
    margin-top: 2vh;
    background: linear-gradient(0deg, #515F6E, #515F6E), rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 22px;
    height: 45%;
    transform: skewX(-5deg);
    cursor: pointer;
    overflow: hidden;
}

.character:hover, .char-list .active {
    border: 2px solid #FFFFFF;
}

.char-delete-icon {
    position: relative;
    top: 5%;
    margin-left: 75%;
}

.char-delete-icon img {
    max-width: 1.5vw;
}

.char-name {
    font-weight: 400;
    font-size: 3.4vh;
    margin-inline: auto;
    width: 8vw;
    color: #FFFFFF;
    margin-top: .7vh;
}

.char-money {
    font-weight: 400;
    font-size: 3vh;
    margin-inline: auto;
    width: 8vw;
    color: #A9D96C;
    margin-top: .5vh;
}

.char-slot {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: #FFFFFF;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 1vh;
    bottom: 0%;
}

.char-list .no-exist {
    background: rgba(0, 0, 0, 0.65);
}

.char-list .no-exist img {
    margin: 5vh 0 0 1.8vw;
}

.play-btn {
    position: absolute;
    bottom: 7%;
    background: radial-gradient(58.77% 87.79% at 41.94% 100%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FF0039, #FF0039), rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0px 12px 100px rgba(0, 0, 0, 0.5);
    border-radius: 3vh;
    width: fit-content;
    height: fit-content;
    padding: 2vh 2vw 2vh 2vw;
    left: 28%;
    transform: skewX(-15deg);
    cursor: pointer;
}

.play-btn img {
    max-width: 3vw;
}

*::-webkit-scrollbar {
    width: 0.2vw;
    border-radius: 5vh;
    background: transparent;
}
 
*::-webkit-scrollbar-thumb {
    border-radius: 5vh;
    background: #B8B8B8;
}

.delete-char {
    font-family: a_RubricaXtCn;
    position: absolute;
    width: 50%;
    height: 40%;
    background: rgba(20, 20, 20, 1);
    right: 12%;
    top: 30%;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    display: none;
    overflow: hidden;
}

.delete-char::-webkit-scrollbar {
    display: none;
}

.delete-header {
    font-size: 4vh;
    margin-top: 10vh;
}

.delete-desc {
    font-size: 2vh;
    color: #515F6E;
    margin-top: 1vh;
}

.delete-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10vh 5vw auto 5vw;
}

.delete-btn, .delete-cancel-btn {
    width: 10vw;
    background: #FF0039;
    padding: 1vh 0 1vh 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.delete-cancel-btn {
    background: #515F6E;
}

.delete-btn:hover, .delete-cancel-btn:hover {
    transform: scale(1.2);
}